<ion-content [fullscreen]="true">
    <ion-list>
        <ion-item-sliding *ngFor="let car of cars">
            <ion-item>
                <ion-label>
                    <h2>{{car.registrationNumber}} - {{car.brand}} {{car.model}}</h2>
                </ion-label>

            </ion-item>
            <ion-item-options side="end">
                <ion-item-option
                        expandable color="warning" (click)="deleteCar(car.id)">Usuń
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

</ion-content>
