<ion-content [fullscreen]="true">
    <div style="text-align: center">
        <ion-button style="width: 90%; margin: 15px;" (click)="scan()">
            <ion-label>Skanuj dowód</ion-label>
            <ion-icon slot="start" style="color: white" name="scan"></ion-icon>
        </ion-button>
    </div>
    <ion-list *ngIf="car">
        <ion-item>
            <ion-label class="label-small">Numer rejestracyjny:</ion-label>
            {{car.registrationNumber}}
        </ion-item>
        <ion-item>
            <ion-label class="label-small">Marka pojazdu:</ion-label>
            {{car.brand}}
        </ion-item>
        <ion-item>
            <ion-label class="label-small">Model pojazdu:</ion-label>
            {{car.model}}
        </ion-item>
        <ion-item *ngIf="car.type && car.type.length > 0">
            <ion-label class="label-small">Rodzaj pojazdu:</ion-label>
            {{car.type}}
        </ion-item>
        <ion-item>
            <ion-label class="label-small">VIN:</ion-label>
            {{car.vin}}
        </ion-item>
        <ion-item>
            <ion-label class="label-small">Data pierwszej rejestracji:</ion-label>
            {{car.firstRegistrationDate}}
        </ion-item>
        <ion-item>
            <ion-label class="label-small">Rok produkcji:</ion-label>
            {{car.productionYear}}
        </ion-item>
        <ion-item>
            <ion-label class="label-small">Numer rejestracyjny:</ion-label>
            {{car.fuel}}
        </ion-item>
        <ion-item>
            <ion-label class="label-small">Moc Pojazdu:</ion-label>
            {{car.enginePower}} KW
        </ion-item>
        <ion-item>
            <ion-label class="label-small">Pojemność silnika:</ion-label>
            {{car.engineCapacity}} cm³
        </ion-item>
        <ion-item>
            <ion-label class="label-small">Ilość miejsc:</ion-label>
            {{car.seatsNumber}}
        </ion-item>
        <ion-item>
            <ion-label class="label-small">Imię i nazwisko właściciela:</ion-label>
            {{car.ownerName}}
        </ion-item>
        <ion-item>
            <ion-label class="label-small">PESEL lub REGON właściciela:</ion-label>
            {{car.ownerPeselOrRegon}}
        </ion-item>
        <ion-item>
            <ion-label class="label-small">Masa własna pojazdu:</ion-label>
            {{car.weight}} kg
        </ion-item>
        <ion-item>
            <ion-label class="label-small">Dopuszczalna masa całkowita:</ion-label>
            {{car.okWeight}}
        </ion-item>
        <ion-item>
            <ion-label class="label-small">Maksymalna masa całkowita:</ion-label>
            {{car.maxWeight}}
        </ion-item>
        <ion-button (click)="createPdf()" color="secondary">Pobierz PDF</ion-button>
    </ion-list>


</ion-content>
